.todoItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  padding: 2rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.8rem;

  .iconsItems {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem
  }

  .iconEdit {
    color: #e6bf0a;
    cursor: pointer;
  }

  .iconTrash {
    color: #e24c50;
    cursor: pointer;
  }

  .checkboxContainer{
    transform: translateY(0.2rem);
  }

  .checkbox {
    -ms-transform: scale(1.3); 
    -moz-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    -o-transform: scale(1.3); 
    transform: scale(1.3);
    cursor: pointer;
  }
}
