.mainLayout{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.notifications{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}